<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="appenderConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.SimpleLayout" />
	</appender>

	<appender name="appenderFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="hl7toxml.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] [%t]: [%c] %m%n" />
		</layout>
	</appender>

	<root>
		<level value="warn" />
		<appender-ref ref="appenderConsole" />
		<appender-ref ref="appenderFile" />
	</root>
	
</log4j:configuration>